version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "semiannually"
    cooldown:
      default-days: 20
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "semiannually"
    cooldown:
      default-days: 20
    groups:
      github-actions:
        patterns:
          - "*"
