# build and release new docs as a release asset
name: Build Docs
on:
  release:
    types: [created]
jobs:
  doc:
    name: Build Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.12"
      - name: Install CLI
        run: |
          python -m pip install -e .
      - name: Generate Autodoc
        run: |
          ./reference/_generate.py --debug
          # bundle as tarball without the _generate.py script or .gitignore
          # use `-h` to dereference the changelog link
          tar --exclude "*.py" --exclude '.gitignore' -czf cli-reference.tar.gz -h reference/
      # upload as a release asset
      - name: Upload Autodoc
        env:
          GH_TOKEN: ${{ github.token }}
          GH_REPO: ${{ github.repository }}
        run: gh release upload "${{ github.ref_name }}" cli-reference.tar.gz
